@use "@/styles/0_settings/breakpoints.module";

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: none;
  background-color: hsl(0, 0%, 0%, 50%);

  &Active {
    display: block;
  }
}

.modal {
  --_products-rounded-corners: var(--sp-100);

  // position: absolute;
  position: fixed;
  left: 0;
  // bottom: -999px;
  bottom: -100%;
  // display: grid;
  // align-content: start;
  // align-items: start;
  display: flex;
  flex-direction: column;
  // justify-content: start;
  width: 100%;
  // width: 80%;
  height: 90%;
  padding: var(--sp-700);
  border-top-left-radius: var(--sp-300);
  border-top-right-radius: var(--sp-300);
  background-color: var(--clr-primary-50);
  // background-color: rgb(195, 195, 195);
  color: var(--clr-primary-900);
  transition: bottom 0.5s;
  // pointer-events: none;

  @media (width > breakpoints.$desktop) {
    left: 50%;
    width: 600px;
    height: 700px;
    border-radius: var(--sp-300);
    transform: translate(-50%, 50%);
  }

  &Active {
    bottom: 0;

    @media (width > breakpoints.$desktop) {
      bottom: 50%;
    }
  }
}

.confirmedSvg {
  position: absolute;
}

.heading {
  margin-block-start: calc(var(--sp-900) * 2);
  // color: var(--clr-primary-900);
  font-size: var(--fs-1100);
  font-weight: var(--fw-bold);
  text-wrap: balance;
}

.subheading {
  color: var(--clr-primary-400);
  margin-block-end: var(--sp-700);
}

.products {
  overflow-y: scroll;
  height: 100%;
  padding-block: var(--sp-400);
  padding-inline: var(--sp-700);
  border-top-left-radius: var(--_products-rounded-corners);
  border-top-right-radius: var(--_products-rounded-corners);
  background-color: var(--clr-primary-100);
}

.item {
  display: grid;
  grid-template-columns: auto 1fr auto;
  gap: var(--sp-400);
  padding-block: var(--sp-400);
  border-bottom: 1px solid var(--clr-primary-300);
  // color: var(--clr-primary-900);
}

.itemImgWrapper {
  overflow: hidden;
  width: 50px;
  border-radius: var(--sp-100);
}

.itemBody {
  display: grid;
  align-items: center;
}

.itemName {
  // overflow-x: hidden;
  font-weight: var(--fw-semi-bold);
}

.itemCount {
  margin-inline-end: var(--sp-300);
  color: var(--clr-error-500);
}

.itemPrice {
  color: var(--clr-primary-400);
}

.itemTotalPrice {
  margin-inline-start: auto;
  margin-block: auto;
  font-weight: var(--fw-semi-bold);
}

.details {
  // align-self: flex-end;
  display: flex;
  justify-content: space-between;
  align-items: center;
  // margin-block-start: auto;
  margin-block-end: var(--sp-700);
  // padding: var(--sp-400);
  padding: var(--sp-700);
  border-bottom-left-radius: var(--_products-rounded-corners);
  border-bottom-right-radius: var(--_products-rounded-corners);
  background-color: var(--clr-primary-100);
}

.totalPrice {
  font-size: var(--fs-900);
  font-weight: var(--fw-bold);
}

// .btnNewOrder {
//   margin-block-start: auto;
// }
