@use "@/styles/0_settings/breakpoints.module";

.cart {
  // display: grid;
  // justify-content: center;
  // justify-items: center;
  padding: var(--sp-500);
  border-radius: var(--sp-300);
  background-color: white;

  @media (width > breakpoints.$desktop) {
    position: sticky;
    top: var(--sp-400);
  }
}

.title {
  // margin-inline-end: auto;
  margin-block-end: var(--sp-400);
  color: var(--clr-error-500);
  font-size: var(--fs-700);
  font-weight: var(--fw-bold);
}

.emptyCart {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: var(--sp-400);
  color: var(--clr-primary-500);
  font-size: var(--fs-200);
}

.filledCart {
  display: grid;
  color: var(--clr-neutral-500);
  font-size: var(--fs-300);
}

.item {
  list-style: none;
  position: relative;
  padding-block: var(--sp-400);
  border-bottom: 1px solid var(--clr-primary-100);
  font-size: var(--fs-200);
}

.itemTitle {
  color: var(--clr-primary-900);
  font-weight: var(--fw-semi-bold);
}

.itemDetails {
  display: flex;
  gap: var(--sp-400);
}

.itemAmount {
  color: var(--clr-error-500);
}

.itemPrice {
  color: var(--clr-primary-300);
}

.itemTotalPrice {
  color: var(--clr-primary-500);
  font-weight: var(--fw-semi-bold);
}

.removeBtn {
  position: absolute;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
}

.orderTotal {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-block: var(--sp-400);
}

.totalPrice {
  color: var(--clr-primary-900);
  font-size: var(--fs-700);
  font-weight: var(--fw-bold);
}

.carbonNeutral {
  display: flex;
  justify-content: center;
  gap: var(--sp-200);
  margin-block-end: var(--sp-600);
  padding: var(--sp-400);
  border-radius: var(--sp-200);
  background-color: var(--clr-primary-100);
}
