@use "@/styles/0_settings/breakpoints.module";

.title {
  margin-block-end: var(--sp-500);
  color: var(--clr-primary-900);
  font-size: 2.4rem;
  font-weight: var(--fw-bold);
}

.productsGrid {
  display: grid;
  gap: var(--sp-400);

  @media (width > breakpoints.$desktop) {
    grid-template-columns: repeat(3, 1fr);
  }
}
