// Simple
:root {
  --clr-primary-50: hsl(20, 50%, 98%);
  --clr-primary-100: hsl(13, 31%, 94%);
  --clr-primary-300: hsl(14, 25%, 72%);
  --clr-primary-400: hsl(7, 20%, 60%);
  --clr-primary-500: hsl(12, 20%, 44%);
  --clr-primary-900: hsl(14, 65%, 9%);

  --clr-neutral-500: hsl(0, 0%, 37%);

  --clr-success-500: hsl(159, 69%, 38%);

  --clr-error-500: hsl(14, 86%, 42%);
}
