// Simple
:root {
  --clr-primary-50: hsl(20, 50%, 98%);
  --clr-primary-100: hsl(13, 31%, 94%);
  --clr-primary-300: hsl(14, 25%, 72%);
  --clr-primary-400: hsl(7, 20%, 60%);
  --clr-primary-500: hsl(12, 20%, 44%);
  --clr-primary-900: hsl(14, 65%, 9%);

  --clr-secondary-300: ;
  --clr-secondary-500: ;
  --clr-secondary-700: ;

  --clr-accent-300: ;
  --clr-accent-500: ;
  --clr-accent-700: ;

  --clr-base-300: ;
  --clr-base-500: ;
  --clr-base-700: ;

  --clr-neutral-300: ;
  --clr-neutral-500: ;
  --clr-neutral-700: ;

  --clr-success-300: ;
  --clr-success-500: hsl(159, 69%, 38%);
  --clr-success-700: ;

  --clr-warning-300: ;
  --clr-warning-500: ;
  --clr-warning-700: ;

  --clr-error-300: ;
  --clr-error-500: hsl(14, 86%, 42%);
  --clr-error-700: ;

  --clr-info-300: ;
  --clr-info-500: ;
  --clr-info-700: ;
}
