// Simple
:root {
  --clr-primary-300: ;
  --clr-primary-500: ;
  --clr-primary-700: ;

  --clr-secondary-300: ;
  --clr-secondary-500: ;
  --clr-secondary-700: ;

  --clr-accent-300: ;
  --clr-accent-500: ;
  --clr-accent-700: ;

  --clr-base-300: ;
  --clr-base-500: ;
  --clr-base-700: ;

  --clr-neutral-300: ;
  --clr-neutral-500: ;
  --clr-neutral-700: ;

  --clr-success-300: ;
  --clr-success-500: ;
  --clr-success-700: ;

  --clr-warning-300: ;
  --clr-warning-500: ;
  --clr-warning-700: ;

  --clr-error-300: ;
  --clr-error-500: ;
  --clr-error-700: ;

  --clr-info-300: ;
  --clr-info-500: ;
  --clr-info-700: ;
}

// Complex
:root {
  --clr-primary-100: ;
  --clr-primary-200: ;
  --clr-primary-300: ;
  --clr-primary-400: ;
  --clr-primary-500: ;
  --clr-primary-600: ;
  --clr-primary-700: ;
  --clr-primary-800: ;
  --clr-primary-900: ;

  --clr-secondary-100: ;
  --clr-secondary-200: ;
  --clr-secondary-300: ;
  --clr-secondary-400: ;
  --clr-secondary-500: ;
  --clr-secondary-600: ;
  --clr-secondary-700: ;
  --clr-secondary-800: ;
  --clr-secondary-900: ;

  --clr-accent-100: ;
  --clr-accent-200: ;
  --clr-accent-300: ;
  --clr-accent-400: ;
  --clr-accent-500: ;
  --clr-accent-600: ;
  --clr-accent-700: ;
  --clr-accent-800: ;
  --clr-accent-900: ;

  // Backgrounds
  --clr-base-100: ;
  --clr-base-200: ;
  --clr-base-300: ;
  --clr-base-400: ;
  --clr-base-500: ;
  --clr-base-600: ;
  --clr-base-700: ;
  --clr-base-800: ;
  --clr-base-900: ;

  // Texts and borders
  --clr-neutral-100: ;
  --clr-neutral-200: ;
  --clr-neutral-300: ;
  --clr-neutral-400: ;
  --clr-neutral-500: ;
  --clr-neutral-600: ;
  --clr-neutral-700: ;
  --clr-neutral-800: ;
  --clr-neutral-900: ;

  --clr-success-100: ;
  --clr-success-200: ;
  --clr-success-300: ;
  --clr-success-400: ;
  --clr-success-500: ;
  --clr-success-600: ;
  --clr-success-700: ;
  --clr-success-800: ;
  --clr-success-900: ;

  --clr-warning-100: ;
  --clr-warning-200: ;
  --clr-warning-300: ;
  --clr-warning-400: ;
  --clr-warning-500: ;
  --clr-warning-600: ;
  --clr-warning-700: ;
  --clr-warning-800: ;
  --clr-warning-900: ;

  --clr-error-100: ;
  --clr-error-200: ;
  --clr-error-300: ;
  --clr-error-400: ;
  --clr-error-500: ;
  --clr-error-600: ;
  --clr-error-700: ;
  --clr-error-800: ;
  --clr-error-900: ;

  --clr-info-100: ;
  --clr-info-200: ;
  --clr-info-300: ;
  --clr-info-400: ;
  --clr-info-500: ;
  --clr-info-600: ;
  --clr-info-700: ;
  --clr-info-800: ;
  --clr-info-900: ;
}
